html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.bulb {
    height:341px;
    width: 341px;
    background: yellow;
    border-radius: 50px;
}

.bulb-container {
    height: 341px;
    width: 341px;
    border-radius: 50px;
}